<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset='utf-8'/>
  <link rel='stylesheet' type='test/css' href='./bower_components/normalize.css/normalize.css'>
</head>
<body ng-controller="myController">

  <h3>Simple encryption/decryption App</h3>

  <p><a href='https://keybase.io'>Keybase</a> PGP JavaScript library is used for
  encryption and decryption.</p>

  <textarea rows='10' cols='80' id='publickey' ng-model="ctx.publickey">PGP Public Key</textarea><br/>
  <textarea rows='10' cols='80' id='privatekey' ng-model="ctx.privatekey">PGP Private Key</textarea><br/>
  <textarea rows='1' cols='80' id='passphrase' ng-model="ctx.passphrase">passphrase</textarea><br/>
  <textarea rows='10' cols='80' id='cleartext' ng-model="ctx.cleartext">Enterpass your phrase and press decrypt to show encrypted message</textarea><br/>
  <textarea rows='10' cols='80' id='encrypted' ng-model="ctx.encrypted">Encrypted message</textarea><br/>

  <input type='button' value='Generate keys' id='genKeys' ng-click='genKeys()'/>
  <input type='button' value='Load keys' id='loadKeys' ng-click='loadKeys()'/>
  <input type='button' value='Encrypt' id='encrypt' ng-click='encrypt()'/>
  <input type='button' value='Decrypt' id='decrypt' ng-click='decrypt()'/>

  <hr/>
  <div id='log'></div>

  <script src='./bower_components/kbpgp/rel/kbpgp-2.0.3-min.js'></script>
  <script src='bower_components/angular/angular.min.js'></script>
  <script>
    var self = window;

    var $$ = document.getElementById.bind(document);

    var log = function(msg) {
      console.log(msg)
      $$('log').innerHTML += msg + '<br>';
    };

    var logDebug = logError = log;

    angular.module('myApp', [])
      .controller('myController', ['$scope', function($scope) {
        var self = this;

        self.$scope = $scope;

        // Private function
        // ----------------

        var save = function() {
          window.localStorage['publickey'] = $scope.ctx.publickey;
          window.localStorage['privatekey'] = $scope.ctx.privatekey;
          window.localStorage['encrypted'] = $scope.ctx.encrypted;
        };

        var addToKeyRing = function (kms) {
          self.keyRing = new kbpgp.keyring.KeyRing();
          for (var i in kms) {
            self.keyRing.add_key_manager(kms[i]);
          }
        };

        // Available in DOM
        // ----------------

        $scope.loadKeys = function() {
          log('LOAD KEYS');

          var publicKey = $scope.ctx.publickey;
          var privateKey = $scope.ctx.privatekey;
          var passphrase = $scope.ctx.passphrase;

          kbpgp.KeyManager.import_from_armored_pgp({
            armored: publicKey
           }, function(err, key) {
             if (!err) {
               self.publicKeyManager = key;
               log("Public key is loaded");
            } else {
              logError('Could not log public key: ' + err);
            }

          });

          kbpgp.KeyManager.import_from_armored_pgp({
            armored: privateKey
          }, function(err, keyManager) {
            if (!err) {
              if (keyManager.is_pgp_locked()) {
                keyManager.unlock_pgp({
                  passphrase: passphrase
                }, function(err) {
                  if (!err) {
                    self.privateKeyManager = keyManager;

                    log("Loaded private key with passphrase");
                  }
                });
              } else {
                self.privateKeyManager = keyManager;
                log("Loaded private key w/o passphrase");
              }
              addToKeyRing([keyManager]);

            } else {
              logError('Could not load private key: ' + err);
            }

          });

        };

        $scope.encrypt = function() {
          log('ENCRYPT');

          var params = {
            encrypt_for: self.publicKeyManager,
            sign_with:   self.privateKeyManager,
            msg:         $scope.ctx.cleartext
          };

          kbpgp.box(params, function(err, result_string, result_buffer) {
            if (err) {
              log('Error encryprting: ' + err);
            }

            $scope.ctx.encrypted = result_string;
            $scope.$apply();
            save();
          });

        };

        $scope.decrypt = function () {
          log('DECRYPT');

          var encrypted = $scope.ctx.encrypted;

          kbpgp.unbox({
            keyfetch: self.keyRing,
            armored: encrypted
          }, function(err, literals) {
            if (err != null) {
              return log("Problem: " + err);
            } else {
              log("decrypted message");
              $scope.ctx.cleartext = literals[0].toString();
              $scope.$apply();
              log($scope.ctx.cleartext);

              var ds = km = null;
              ds = literals[0].get_data_signer();
              if (ds) { km = ds.get_key_manager(); }
              if (km) {
                log("Signed by PGP fingerprint");
                log(km.get_pgp_fingerprint().toString('hex'));
              }
            }
          });

        };

        $scope.genKeys = function() {
          log('GENERATE KEYS');
          $scope.ctx.publickey = 'Generating private and public RSA keys. This takes a while, please be patient.';
          $scope.ctx.privatekey = '';

          var passphrase = $scope.ctx.passphrase;

          // show progress
          var dots = setInterval(function() {
            $$('publickey').value += '.';
          }, 500);

          kbpgp.KeyManager.generate_rsa({ userid : "John Doe <john@doe.com>" },
            function(err, charlie) {
              clearTimeout(dots);
              if(err) log(err);
              else {
                log(charlie);
                charlie.sign({}, function(err) {
                  log('SIGNED KEYS');

                  // data binding with $scope don't work here
                  charlie.export_pgp_private ({passphrase: passphrase},
                    function(err, pgp_private) {
                      $scope.ctx.privatekey = pgp_private;
                      $scope.$apply();
                      save();
                    });

                  charlie.export_pgp_public({}, function(err, pgp_public) {
                      $scope.ctx.publickey = pgp_public;
                      $scope.$apply();
                      save();
                  });

                });
              }
          }); // end generate_rsa

        };

        // Initialize app
        // -------------

        $scope.ctx = {
          publickey: window.localStorage['publickey'],
          privatekey: window.localStorage['privatekey'],
          encrypted: window.localStorage['encrypted'],
          cleartext: '',
          passphrase: ''
        };

        // save input when loosing focus
        ['publickey', 'privatekey', 'encrypted' ].forEach(function(id) {
          $$(id).addEventListener('blur', save);
        });

        log('INIT');

      }]);

  </script>

</body>
</html>
